<!DOCTYPE html>
<html lang="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="@{/common/head.html}"></head>
<script src="script/my-assgin.js"></script>
<body>

<div th:include="@{/common/nav.html}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:include="@{/common/sidebar.html}"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">数据列表</a></li>
                <li class="active">分配角色</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" class="form-inline" action="/assign/role" method="post">
                        <div class="form-group">
                            <input type="hidden" name="adminId" th:value="${adminId}">
                            <label for="exampleInputPassword1">未分配角色列表</label><br>
                            <select id="leftSelect" class="form-control" multiple size="10" style="width:200px;overflow-y:auto;">
                                <option th:each="role:${unAssignedRoleList}" th:value="${role.id}" th:text="${role.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <ul>
                                <li id="rightBtn" class="btn btn-default glyphicon glyphicon-chevron-right"></li>
                                <br>
                                <li id="leftBtn" class="btn btn-default glyphicon glyphicon-chevron-left" style="margin-top:20px;"></li>
                            </ul>
                        </div>
                        <div class="form-group" style="margin-left:40px;">
                            <label for="exampleInputPassword1">已分配角色列表</label><br>
                            <select name="roleIdList" id="rightSelect" class="form-control" multiple size="10" style="width:200px;overflow-y:auto;">
                                <option th:each="role:${assignedRoleList}" th:value="${role.id}" th:text="${role.name}"></option>
                            </select>
                        </div>
                        <button id="submitBtn" type="submit" class="btn btn-success">确定</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
