<!DOCTYPE html>
<html lang="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="@{/common/head.html}"></head>
<script type="text/javascript" src="ztree/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="script/my-menu.js"></script>
<body>

<div th:include="@{/menu-modal.html}"></div>
<div th:include="@{/common/nav.html}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:include="@{/common/sidebar.html}"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-th-list"></i> 权限菜单列表
                    <div style="float: right; cursor: pointer;" data-toggle="modal"
                         data-target="#myModal">
                        <i class="glyphicon glyphicon-question-sign"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
